


  <footer>
  <div class="footerTitle">
      <p>Read Without Money</p>
  </div>
  <div class="container" style="margin-top:20px">
          <div class="row">
                  <div class="col-sm-4 social">
                          <a class="footerSocial" href="" target="_blank">
                              <div class="footerTwitter socialLogo"><i class="fab fa-twitter"></i></div>
                              <span>@BookShare</span>
                          
                          </a>
                          <a class="footerSocial" href="" target="_blank">
                              <div class="footerFacebook socialLogo"><i class="fab fa-facebook-f"></i></div>
                              <span>BookShare</span>
                          </a>
                          <a class="footerSocial" href="" target="_blank">
                              <div class="footerGooglePlus socialLogo"><i class="fab fa-google-plus-g"></i></div>
                              <span>+BookShare</span>
                          </a>
                      </div>
                      <div class="col-sm-4 footerMenu">
                              <ul>
                                  <li>
                                      <a style="color:#3a464b" href="/ads" id="footerHome">Home</a>
                                  </li>
                                  <li>
                                      <a href="/Contact/" id="footerContacts">Contact</a>
                                  </li>
                                  <li>
                                      <a href="/Privacy-Policy/" id="footerPrivacy-Policy">Terms of Use</a>
                                  </li>
                                  <li>
                                      <a href="/faq" id="faq">About</a>
                                  </li>
                              </ul>
                      </div>
                      <div class="col-sm-4 about">
                              <div class="logoFooter"></div>
                              <div class="info">
                                  <p>BookShare Inc.</p>
                                  <address>
                                  <br>Assuit University, Network Information 
                                  <br>Building, Assuit</address>
                              </div>
                              <button>Email Us</button>
                      </div>
              </div>

              <div class="copyright">
                      &copy; 2018 BookShare, Inc. All rights reserved.
              </div>
  </div>
</footer>